<div data-role="view" data-title="Edit" data-model="app.home.editItemViewModel" data-bind="events: { show: onShow }" id="homeModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Edit</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <div id="editableListForm11" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <div class="editableListItem">
                        <div>Bonnummer</div>

                        <div id="bonnr" data-bind="html: editFormData.bonnr"></div>

                    </div>

                </li>
                <li class="form-content-item">
                    <label>

                        <span>Afval</span>

                        <select data-bind="value: editFormData.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm11 -->
        <!-- END_CUSTOM_CODE_editableListForm11 -->
    </div>
</div>