<div data-role="view" data-title="Wegingen" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <span data-role="view-title"></span>


        </div>
    </header>


    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="search" placeholder="Search..." data-bind="{events:{keyup: homeModel.searchChange}}">
        </div>
    </form>
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="homeModelTemplate" data-bind="{ source: homeModel.dataSource, events: {click: homeModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <script type="text/x-kendo-template" id="homeModelTemplate">
        <div class="image-with-text">
            # data = app.home.homeModel.fixHierarchicalData(data); #

            <h3>#: data['bonnr'] #</h3>

        </div>
        <div class="editableListItem">

            <div>Afval</div>
            <div>#= data['afval_omschr'] #</div>
        </div>
    </script>
</div>